* {
    font-family: Roboto, Courier, monospace;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-container .hero {
    color: #f9f1f8;
    font-size: 48px;
    margin: 0;
}

.hero-container p {
    margin: 0;
    color: #e5e7eb;
    font-size: 18px;
}

.box-container img {
    height: 275px;
    width: 412.5px;
}

























.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e5e7eb;
    font-weight: 18px;
}

.links ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin:0;
    padding:0;
}

.links ul li a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.logo p{
    font-size: 24px;
    color: #f9faf8;
    margin: 0;
    padding: 0;
}

.header-container, .footer-container,
.box-container {
    background-color: #1F2937;
}

.header-container, .box-container,
.quote-container, .call-container,
.footer-container {
    padding: 12px 48px;
    border: 2px solid black;
}