* {
    font-family: Roboto, Courier, monospace;
}

.header-content,
.quote-container, .call-container,
.footer-container, .card-section{
    padding: 16px 64px;
}

body {
    height: 100vh;
    margin: 0;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container p {
    color: #E5E7EB;
    font-size: 16px;
}

.call-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-box {
    background-color: #3882F6;
    padding: 48px 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 128px;
    border-radius: 10px;
    margin: 80px 0px;
}

.blue-box button {
    background-color: #3882F6;
    border: 4px solid white;
    padding: 4px 8px;
    border-radius: 8px;
}

.blue-box button a {
    text-decoration: none;
    color: #E5E7EB;
    padding: 12px;
    font-size: 16px;
}

.call-container .blue-box .text p{
    margin: 0;
    padding: 2px;
    color: #e5e7eb;
    font-size: larger;
}

.call-container .blue-box .text .sec {
    font-size: medium;
}

.quote-container {
    background-color: #E5E7EB;
    padding: 96px;
    display: flex;
    flex-direction: column;
}

.package {
    align-self: center;
}

.package p {
    margin: 0;
    padding: 0;
}

.package .quote {
    font-size: 36px;
    color: #1F2937;
    height: 140;
    width: 800px;
    font-weight: light;
}

.package .cust {
    font-size: 18px;
    text-align: end;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.card-section{
    margin-bottom: 48px;
}

.card-section .features {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
}

.card p {
    font-size: 18px;
    color: #1F2937;
    text-align: center;
}

.card img {
    height: 200px;
    width: 200px;
    border: 4px solid #3882f6;
    border-radius: 10px;
}

.card {
    height: 300px;
    width: 200px;
}

.box-container {
    display: flex;
    justify-content: center;
    gap: 48px;
    padding-bottom: 80px;
}

.hero-container button {
    background-color: #3882f6;
    border: none;
    padding: 8px 24px;
    border-radius: 4px;
}

.hero-container button a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 475px;
}

.hero-container .hero {
    color: #f9f1f8;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.hero-container p {
    margin: 0;
    color: #e5e7eb;
    font-size: 18px;
}

.box-container img {
    height: 275px;
    width: 412.5px;
    border-radius: 10px;
    border: 2px solid #3882F6;
}

.header-container {

    display: flex;
    max-width: 1000px;
    width: 100%;

    justify-content: space-between;
    align-items: center;


    color: #e5e7eb;
    font-weight: 18px;
    padding-bottom: 64px;
}

.links ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin:0;
    padding:0;
}

.links ul li a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.logo p{
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
    padding: 0;
}


.header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-container, .header-content {
    background-color: #1F2937;
}

